{% extends 'base.html' %}

{% block title %}Question {{ session['responses'] | count }}{% endblock %}

{% block header%}
  <h1>Question {{ session[survey_code] | count }}</h1>
{% endblock %}

{% block content %}

  <h1>{{ question.prompt }}</h1>
  <p>{{ error }}</p>
  {% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
  {% endfor %}

  <form action="/{{ survey_code }}/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      {% for choice in question.choices %}
        <p>
          <input
              type="radio"
              name="answer"
              value="{{ choice }}">
          {{ choice }}
        </p>
      {% endfor %}

    <button>Continue</button>
  </form>

{% endblock %}
